body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:hover{
	color:#ff0000;
}

th{
	width:50px;
}

.container{
	width: 100%;
}

#myTab{
	width: 100%;
	margin: 0 auto;
	font-weight: 700;
	font-size: 30px;
	padding-left: 3%;
}

/* 
 * curve          
 */
.curve_container{
	width:100%;
	height:780px;
}

.curve_container div{
	float:left;
}

.k_container{
	width:100%;
	height:480px;
}

/* 
 * s_s_c          
 */
.s_s_c{
	width:100%;
	height:434px;
	margin-top: 20px;
}

/* 
 * selector          
 */
.selector{
	padding: 0 5px; 
	padding-top: 55px;
	float:left;
	height: 433px;
}

.selector ul{
	padding:0;
	width: 30px;
	float:left;
}

.selector li{
	list-style: none;
	font-size: 15px;
	margin:10px 0;
}

.selector_con{
	width:100%;
}

.add_record{
	float:right;
}

/* 
 * snapshot         
 */
.save{
	float:right;
	margin-right: 40px;
}

.saveas{
	float:right;
	margin-right: 0px;
}

.snapshot_caption{
	float: left;
	margin-top: 0;
}

/* 
 * config          
 */
.config_con{
	padding: 0 5px; 
	padding-top: 55px;
	float:left;
	height: 433px;
	overflow-x: auto;
}


